In [24]:
#Pymystem

from pymystem3 import Mystem

m = Mystem()

a = 'рубли рублю рубить рубит'

m.lemmatize(a)

['рубль', ' ', 'рубль', ' ', 'рубить', ' ', 'рубить', '\n']

In [25]:
import pandas as pd

data = pd.read_csv('keywords.csv')

In [10]:
data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [40]:
sample_data = data.loc[0:10]
sample_data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [41]:
def func(df):
    print(df)
    return str(m.lemmatize(df['keyword']))


sample_data['lem'] = sample_data.apply(func,axis = 1)

вк
одноклассники
порно
ютуб
вконтакте
одноклассники моя страница
майл
авито
переводчик
яндекс
сбербанк онлайн

<ipython-input-41-b774eac6bd32>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_data['lem'] = sample_data['keyword'].apply(func)