In [2]:
%%time
#импорт csv

import pandas as pd

data = pd.read_csv('C:\Users\Михаил\Documents\JN_python\Data\ml-25m\rating.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<unknown>, line 5)

In [13]:
%%time
data.head()

Wall time: 0 ns

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [3]:
#Head тоже DataFrame

data_ = pd.DataFrame(data.head(100))
data_.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [14]:
%%time

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB
Wall time: 4 ms

In [23]:
%%time

#уникальные данные

print('uniq movie:', len(data.movieId.unique()))
print('uniq users:', len(data.userId.unique()))
print('uniq ratings:', len(data.rating.unique()))

uniq movie: 59047
uniq users: 162541
uniq ratings: 10
Wall time: 574 ms

In [28]:
%%time
#группировка, сортировка
#цепочка вычислений

data.groupby('userId').count().sort_values('movieId',ascending = False).head()

Wall time: 767 ms

        movieId  rating  timestamp
userId
72315     32202   32202      32202
80974      9178    9178       9178
137293     8913    8913       8913
33844      7919    7919       7919
20055      7488    7488       7488

In [11]:
#Презентации

!jupyter nbconvert Pandas.ipynb --to slides --post serve

^C

In [31]:
#Импорт HTML

#pd.read_html('http://cbr.ru')[0]

ValueError: No tables found