# Создание столбцов на ходу
- Лена - разработчик
- Ваня - дизайнер
- Настя - редактор

In [13]:
staff = {
    'Лена': 'разработчик',
    'Ваня': 'дизайнер',
    'Настя': 'редактор',
}

In [1]:
import pandas as pd

In [18]:
def departments(row):
    # {'Лена': 1, 'Ваня': 2}
    dict_ = row['dicts']
    
    for name, tasks in dict_.items():
        if name in staff:
            if staff[name] in row:
                row[staff[name]] += dict_[name]
            else:
                row[staff[name]] = dict_[name]
        else:
            row['внештатные сотрудники'] = dict_[name]
            
    return row

In [20]:
df.apply(departments, axis=1).fillna(0)

,dicts,внештатные сотрудники,дизайнер,разработчик,редактор
0,"{'Лена': 1, 'Ваня': 2}",0.0,2.0,1.0,0.0
1,"{'Ваня': 3, 'Леша': 5}",5.0,3.0,0.0,0.0
2,{'Настя': 3},0.0,0.0,0.0,3.0

In [11]:
def departments(row):
    dict_ = row['dicts']
    # print(dict_)
    
    if 'Лена' in dict_:
        row['разработка'] = dict_['Лена']
        
    if 'Настя' in dict_:
        row['редакторы'] = dict_['Настя']
    
    return row

In [12]:
df.apply(departments, axis=1)

                    dicts  разработка  редакторы
0  {'Лена': 1, 'Ваня': 2}         1.0        NaN
1  {'Ваня': 3, 'Леша': 5}         NaN        NaN
2            {'Настя': 3}         NaN        3.0

In [2]:
df = pd.DataFrame({'dicts': [{'Лена': 1, 'Ваня': 2}, {'Ваня': 3, 'Леша': 5}, {'Настя': 3}]})
df

                    dicts
0  {'Лена': 1, 'Ваня': 2}
1  {'Ваня': 3, 'Леша': 5}
2            {'Настя': 3}