In [123]:
%%time
#Задание 1
#Скачайте с сайта grouplens.org...movielens/ датасет любого размера.
#Определите какому фильму было выставлено больше всего оценок 5.0.

import pandas as pd
import numpy as np

data = pd.read_csv('data_samples/ml-25m/ratings.csv', dtype ={'rating':np.float32, 'movieId':np.int32})

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int32
 2   rating     float32
 3   timestamp  int64
dtypes: float32(1), int32(1), int64(2)
memory usage: 572.2 MB
Wall time: 11.7 s

In [122]:
%%time

issue_rating = 5.0

#смог добраться до результатов работы value_counts только так
list(data[data['rating'] == issue_rating]['movieId'].value_counts(sort = True).items())[0][0]

Wall time: 528 ms

318

In [138]:
%%time
#Задание 2
#По данным файла power.csv посчитайте суммарное потребление
#стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года.
#Не учитывайте в расчетах отрицательные значения quantity.

import pandas as pd
import numpy as np


data_p = pd.read_csv('netology-ipynb/power.csv')

Wall time: 606 ms

In [139]:
data_p.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [147]:
data_p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [199]:
data_p[(data_p['country'].str.contains('Lit')) | 
       (data_p['country'].str.contains('Lat')) | 
       (data_p['country'].str.contains('oni'))]['country'].unique()

array(['Lithuania', 'T.F.Yug.Rep. Macedonia', 'Latvia', 'Estonia',
       'New Caledonia'], dtype=object)

In [179]:
max(data_p[data_p['country'].isin(['Latvia', 'Lithuania', 'Estonia']) 
       & 
       data_p['category'].isin([4,12,21]) 
       &
      ((data_p['year'] >= 2005) & (data_p['year'] <= 2010))
       &
       data_p['quantity'] > 0]['quantity'])

4909.0

In [209]:
#Задание 3
#Импорт

import pandas as pd

data_i = pd.read_html('https://tiobe.com/tiobe-index/', 
                      attrs = {'class':'table table-striped table-top20'}, encoding = 'utf-8')[0]
data_i.pop('Change')
data_i.pop('Programming Language')
data_i.head()

   Nov 2021  Nov 2020 Programming Language.1 Ratings Change.1
0         1         2                 Python  11.77%   -0.35%
1         2         1                      C  10.72%   -5.49%
2         3         3                   Java  10.72%   -0.96%
3         4         4                    C++   8.28%   +0.69%
4         5         5                     C#   6.06%   +1.39%