In [12]:
%%time
#Импорт CSV

import pandas as pd
import numpy as np

file_name = 'netology-ipynb/power.csv'

#уменьшение памяти в 2 раза
#data = pd.read_csv(file_name, dtype={'year':np.int16, 'category':np.int8, 'quantity':np.float32})

data = pd.read_csv(file_name)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB
Wall time: 725 ms

In [65]:
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [87]:
data['category'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 13, 12, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71], dtype=int64)

In [89]:
data['quantity'].max()
data['quantity'].min()

-864348.0

In [95]:
print(len(data[data['quantity'] < 0 ]),len(data[data['quantity'] > 0 ]))

18084 1115866

In [5]:
#Отдельный столбец

data['year'].describe()

#или так
#data.year.head()

0    1996
1    1995
2    2014
3    2013
4    2012
Name: year, dtype: int64

In [60]:
%%time
#Series
print('type:',type(data['year']))

#Уникальные значения
#print(data['country'].unique())
print('уникальных стран:',len(data['country'].unique()))

#Преобразование списка уникальных элементов в словарь
unique_country = data['country'].value_counts().to_dict()

#Количество каждого уникального значения - частота
for country, count in unique_country.items():
    print(country, count)

type: <class 'pandas.core.series.Series'>
уникальных стран: 243
Germany 20422
United States 19847
Poland 19802
Austria 17440
Romania 17357
France 17236
Japan 17037
Czechia 16588
Italy 16312
Netherlands 15955
Spain 15815
Hungary 15778
Australia 15652
United Kingdom 15536
Canada 15453
Russian Federation 15020
Finland 14982
Belgium 14914
Korea, Republic of 14849
Slovakia 14676
Sweden 14154
Denmark 13127
Norway 12664
Turkey 12526
Portugal 12215
Bulgaria 12104
Switzerland 11890
Greece 11753
Croatia 11607
China 11563
New Zealand 11270
Mexico 11098
Brazil 10374
Ukraine 10084
Ireland 10002
Chile 9715
Estonia 9689
Lithuania 9313
Other Asia 9271
Slovenia 9112
Belarus 8677
Latvia 8304
Argentina 8122
Indonesia 8036
Colombia 7933
Kazakhstan 7902
India 7775
South Africa 7637
Thailand 7448
Philippines 7322
Uruguay 6883
T.F.Yug.Rep. Macedonia 6866
Iran (Islamic Rep. of) 6829
Peru 6612
Malaysia 6575
Venezuela (Bolivar. Rep.) 6545
Uzbekistan 6190
Luxembourg 6155
Republic of Moldova 5961
Azerbaijan 5936
Costa Rica 5928
Cuba 5852
Pakistan 5815
Egypt 5738
Tunisia 5696
Myanmar 5652
Bangladesh 5546
Algeria 5530
Nigeria 5517
Singapore 5418
Israel 5365
Serbia 5346
Bolivia (Plur. State of) 5288
Kenya 5057
Morocco 5026
Albania 5025
Sri Lanka 5020
Georgia 4883
Iceland 4875
Nicaragua 4823
Cyprus 4821
Syrian Arab Republic 4806
Ecuador 4759
Trinidad and Tobago 4749
Senegal 4591
Côte d'Ivoire 4524
Jordan 4448
Saudi Arabia 4420
Gabon 4394
Viet Nam 4384
Zimbabwe 4364
Cameroon 4283
Dominican Republic 4269
Angola 4168
Guatemala 4153
Zambia 4116
Jamaica 4091
El Salvador 4080
Panama 3948
Kyrgyzstan 3936
Iraq 3928
Ghana 3878
Papua New Guinea 3811
Kuwait 3795
Bosnia and Herzegovina 3786
Sudan (former) 3761
Fiji 3727
Brunei Darussalam 3717
Libya 3693
Bahrain 3684
Korea, Dem.Ppl's.Rep. 3591
Oman 3587
Mauritius 3550
Qatar 3545
Congo 3520
United Rep. of Tanzania 3498
United Arab Emirates 3460
Barbados 3460
Paraguay 3433
Botswana 3427
Honduras 3409
Suriname 3406
Madagascar 3387
Malawi 3386
Nepal 3362
Mozambique 3219
Turkmenistan 3196
Yemen 3116
Swaziland 3077
New Caledonia 3062
Dem. Rep. of the Congo 3037
Neth. Antilles (former) 3031
Tajikistan 2976
China, Hong Kong SAR 2968
Ethiopia 2959
Namibia 2933
Armenia 2912
Guyana 2867
Réunion 2856
Benin 2838
Togo 2804
Mongolia 2743
Serbia and Montenegro 2726
Lebanon 2719
Afghanistan 2718
Mauritania 2708
Burundi 2704
State of Palestine 2700
Niger 2690
Guadeloupe 2687
Martinique 2667
Belize 2655
Uganda 2622
Eritrea 2595
Lao People's Dem. Rep. 2577
China, Macao SAR 2576
Liberia 2567
Malta 2566
Rwanda 2561
Guinea 2516
Burkina Faso 2507
Haiti 2483
Cambodia 2478
Cabo Verde 2349
Solomon Islands 2343
French Polynesia 2274
Sierra Leone 2269
French Guiana 2246
Equatorial Guinea 2242
Greenland 2234
Bahamas 2220
Somalia 2219
Chad 2196
Djibouti 2190
Bhutan 2162
Mali 2156
Faeroe Islands 2096
Samoa 2078
Grenada 1995
Lesotho 1969
Seychelles 1951
Guinea-Bissau 1927
Central African Rep. 1902
Bermuda 1894
Tonga 1870
Aruba 1858
Dominica 1846
Antigua and Barbuda 1808
Andorra 1785
Maldives 1775
Vanuatu 1764
Falkland Is. (Malvinas) 1753
Gambia 1752
St. Kitts-Nevis 1751
St. Lucia 1726
St. Vincent-Grenadines 1690
Sao Tome and Principe 1687
Mayotte 1677
Comoros 1531
Kiribati 1514
Niue 1512
Micronesia (Fed. States of) 1499
Montenegro 1492
Palau 1426
British Virgin Islands 1361
Cayman Islands 1346
Gibraltar 1294
Nauru 1154
St. Helena and Depend. 1136
Montserrat 1106
Anguilla 1069
Turks and Caicos Islands 1022
Tuvalu 940
Puerto Rico 900
Jersey 899
St. Pierre-Miquelon 874
Cook Islands 791
Ethiopia, incl. Eritrea 618
Wallis and Futuna Is. 599
United States Virgin Is. 585
Timor-Leste 575
Isle of Man 572
Sudan 519
American Samoa 503
Marshall Islands 468
Curaçao 452
Guam 435
Liechtenstein 415
Yugoslavia, SFR (former) 395
Northern Mariana Islands 357
USSR (former) 350
Guernsey 336
Czechoslovakia (former) 325
South Sudan 305
Germany, Fed. R. (former) 293
Bonaire, St Eustatius, Saba 224
Sint Maarten (Dutch part) 219
German Dem. R. (former) 106
Antarctic Fisheries 90
Pacific Islands (former) 68
Yemen, Dem. (former) 61
Yemen Arab Rep. (former) 45
Commonwealth of Independent States (CIS) 16
Wall time: 240 ms

In [62]:
#Фильтрация

data[['country','year']].head()

   country  year
0  Austria  1996
1  Austria  1995
2  Belgium  2014
3  Belgium  2013
4  Belgium  2012

In [71]:
#список стран с потреблением выше среднего

data.keys()
mean_quant = data['quantity'].mean()


data[data['quantity'] > mean_quant].head()

            country  year  quantity  category
3228  United States  2014  367987.0         2
3229  United States  2013  384439.0         2
3230  United States  2012  370625.0         2
3231  United States  2011  310909.0         2
3232  United States  2010  335418.0         2

In [77]:
%%time
#Еще фильтры

#оставить только строки, где в countryes есть 'us', а потом взять уникальные значения столбца countryes

data[data['country'].str.contains('rus',case = False)]['country'].unique()

Wall time: 960 ms

array(['Brunei Darussalam', 'Russian Federation', 'Belarus', 'Cyprus'],
      dtype=object)

In [81]:
#Фильтры на несколько условий

data[(data['country'] == 'Russian Federation') | (data['country'] == 'Belarus')]['country'].unique()

array(['Russian Federation'], dtype=object)

In [86]:
#Фильтр по номеру строки

#data.loc[1000:1006]

data['country'].loc[100:200].head()

100    Netherlands
101    Netherlands
102    Netherlands
103    Netherlands
104    Netherlands
Name: country, dtype: object